 @import "../../utils/style/variables";

.bold {
    font-weight: bold;
}

.postCard, .postForm {
    list-style: none;
    &__front {
        display: flex;
        flex-direction: column;
        font-family: 'Dancing Script', cursive;
        background-image: url('../../../public/images/old-postcard-600x400.jpg');
        margin: 25px auto;
        width: 600px;
        height: 400px;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
        &__header {
            display: flex;
            border: 1px solid green;
            width: 100%;
            height: 35%;
            position: relative;
            &__postImage {
                position: relative;
                border: 1px solid blue;
                width: 66%;
                padding: 7px 7px;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__fileChoice {
                position: absolute;
                top: 75%;
                left: 20%;
                & label {
                    background-color: $colour-secondary;
                    box-shadow: 3px 3px 3px;
                    padding: 5px 10px;
                }
                // & input {
                //     visibility: hidden;
                // }
            }
            &__user {
                border: 1px solid red;
                display: flex;
                width: 34%;
                &__name {
                    border: 1px solid green;
                    width: 100%;
                }
                &__picture {
                    border: 1px solid blue;
                    width: 100%;
                    & img {
                        // border: 1px solid rgb(94, 40, 49);
                        width: 70px;
                        height: 85px;
                        object-fit: cover;
                        padding: 5px 0px 0px 14px;
                        rotate: 2deg;
                    }
                }
            }
        }
        &__content {
            border: 1px solid red;
            align-items: center;
            width: 95%;
            height: 50%;
            border: 1px solid green;
            padding: 10px;
            & textarea {
                width: 100%;
                // height: 200px;
                word-wrap: break-word;            
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
            border: 1px solid red;
            height: 15%;
            & button {

            }
        }
    }
}
