 @import "../../utils/style/variables";

.bold {
    font-weight: bold;
}

button {
    background-color: transparent;
    border: 0;
}


svg {
    width: 20px;
    height: 20px;
}

.postCard, .postForm {
    list-style: none;
    &__front {
        display: flex;
        flex-direction: column;
        font-family: 'Dancing Script', cursive;
        background-image: url('../../../public/images/old-postcard-600x400.jpg');
        margin: 25px auto;
        width: 600px;
        height: 400px;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
        position: relative;
        form {
            position: absolute;
            top: -26px;
            scale: 1.05;
        }
        &__header {
            display: flex;
            justify-content: space-between;
            border: 1px solid green;
            width: 100%;
            height: 35%;
            position: relative;
            &__postImage {
                position: relative;
                border: 1px solid blue;
                width: 33%;
                padding: 7px 7px;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__fileChoice {
                position: absolute;
                top: 75%;
                left: 20%;
                & label {
                    background-color: $colour-secondary;
                    box-shadow: 3px 3px 3px;
                    padding: 5px 10px;
                }
                // & input {
                //     visibility: hidden;
                // }
            }
            &__user {
                border: 1px solid red;
                display: flex;
                width: 34%;
                &__name {
                    border: 1px solid green;
                    width: 100%;
                }
                &__picture {
                    border: 1px solid blue;
                    width: 100%;
                    & img {
                        // border: 1px solid rgb(94, 40, 49);
                        width: 70px;
                        height: 85px;
                        object-fit: cover;
                        padding: 5px 0px 0px 14px;
                        rotate: 2deg;
                    }
                }
            }
        }
        &__content {
            border: 1px solid red;
            align-items: center;
            width: 95%;
            height: 50%;
            border: 1px solid green;
            padding: 10px;
            & textarea {
                width: 100%;
                // height: 100px;
                word-wrap: break-word;            
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid red;
            &__btn {
                display: flex;
                & svg {
                    padding: 0 5px;
                    fill: $colour-tertiary;
                }
                & svg:hover {
                    scale: 1.2;
                    fill: $colour-primary;
                }
            }
            &__like {
                display: flex;                
                &__btn {
                    scale: 1.05;
                }
                &--isLike {
                    & svg {
                        padding: 0 5px;
                        fill: $colour-primary;
                        stroke: $colour-tertiary;
                        stroke-width: 7;
                    }
                    & svg:hover {
                        stroke: $colour-primary;
                        stroke-width: 10;
                    }
                }
                &--unLike {
                    & svg {
                        padding: 0 5px;
                        fill: none;
                        stroke: $colour-tertiary;
                        stroke-width: 7;
                    }
                    & svg:hover {
                        stroke: $colour-primary;
                        stroke-width: 10;
                    }
                }
            }
            &__comment {
                display: flex;
                width: 60px;
                & svg {
                    padding: 0 10px;
                    fill: $colour-tertiary;
                    stroke: $colour-tertiary;
                    stroke-width: 7;
                    scale: 1;
                }
                & svg:hover {
                    scale: 1.2;
                    fill: $colour-primary;
                    stroke: $colour-primary;
                    stroke-width: 3;
                } 
            }
        }
        &__comment {
            border: 1px solid red;
            top: 400px;
            width: 600px;
            height: 150px;
            background-color: rgba(44, 44, 44, 0.425);
            position: absolute;
            z-index: 5;

        }
    }
}

