$colour-primary: #fd2d01;
$colour-secondary: #ffd7d7;
$colour-tertiary: #4e5166;

$confirm-color: green;
$cancel-color: $colour-primary;

$font-size-xxsmall: calc(2px + 1.5vw);
$font-size-xsmall: calc(4px + 1.5vw);
$font-size-small: calc(6px + 1.5vw);
$font-size-medium: calc(8px + 1.5vw);
$font-size-large: calc(10px + 1.5vw);
$font-size-xlarge: calc(12px + 1.5vw);

$font-size-xxsmall-fixed: 16px;
$font-size-xsmall-fixed: 18px;
$font-size-small-fixed: 20px;
$font-size-medium-fixed: 22px;
$font-size-large-fixed: 24px;
$font-size-xlarge-fixed: 26px;
