@import '../../utils/style/variables';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 30px;
    background-color: $colour-tertiary;
    &__nav {
        display: flex;
        font-size: 20px;
        &__link {
            text-decoration: none; 
        }
    }
}



.header__logo {
    width: 200px;
    & > svg {
        display: block;
        margin: auto;
        scale: 10;
    }
}

.logoSvg {
    &__st0 {
        fill: $colour-primary;
    }
    &__st1 {
        fill: $colour-secondary;
    }
}