@import './variables';
@import './typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $colour-tertiary;
  font-family: 'Lato-Italic';
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}

button {
  cursor: pointer;
}
