@import './variables';
@import './mixins';

.bold {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: 0;
}

.isLoading {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  width: 50px;
  height: 50px;
  border: 5px solid rgba($colour-secondary, 0.25);
  border-radius: 50%;
  border-top-color: $colour-primary;
  animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.postCard,
.postForm {
  list-style: none;
  min-width: 300px;
  & svg {
    width: 20px;
    height: 20px;
  }
  &__front {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 800px;
    background-image: url('../../../public/images/old-postcard-800x533.jpg');
    background-size: auto;
    margin: 20px 0;
    padding: 2%;
    width: 95vw;
    aspect-ratio: 1.5 / 1;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    & > form {
      position: absolute;
      top: -25px;
      left: 0;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 35%;
      position: relative;
      &__postImage {
        position: relative;
        width: 35%;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 0px 0px 30px -10px;
        }
      }
      &__fileChoice {
        position: absolute;
        top: 65%;
        left: 15%;
        & label {
          background-color: $colour-secondary;
          box-shadow: 3px 3px 3px;
          padding: 5px 10px;
        }
        & input {
          visibility: hidden;
        }
      }
      &__data {
        position: relative;
      }
      &__user {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 50%;
        position: relative;
        &__stamp {
          position: absolute;
          width: 104px;
          height: 56px;
          top: 20%;
          right: 10%;
          z-index: 3;
          @media (min-width: 480px) {
            scale: 1.5;
            top: 30%;
            right: 15%;
          }
          @media (min-width: 768px) {
            scale: 2;
            top: 40%;
            right: 25%;
          }
          &__date {
            top: 41%;
            left: 12%;
            font-size: 7px;
            font-weight: bold;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
              sans-serif;
            color: rgba($colour-primary, 0.5);
            rotate: (-20deg);
          }
          & * {
            position: absolute;
          }
          & svg {
            left: 0%;
            width: 100%;
            height: 100%;
            & .stampedSvg__waves {
              fill: rgba($colour-primary, 0.3);
              stroke: rgba($colour-primary, 0.2);
              stroke-width: 1;
            }

            & .stampedSvg__circle {
              fill: rgba($colour-primary, 0.1);
              stroke: rgba($colour-primary, 0.3);
              stroke-width: 5;
            }
          }
        }
        &__name {
          font-size: $font-size-small;
          position: absolute;
          bottom: 0;
          right: 5%;
          @media (min-width: 768px) {
            font-size: $font-size-small-fixed;
          }
        }
        &__picture {
          width: 50%;
          position: absolute;
          top: 40%;
          right: -10%;
          rotate: 3deg;
          & > * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          // ratio 42% / 50%
          &__image {
            width: 37.8%;
            aspect-ratio: 1/1.47;
            object-fit: cover;
            z-index: 1;
          }
          &__border {
            width: 45%;
            z-index: 2;
          }
        }
      }
    }
    &__content {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 40%;
      padding: 10px 0;
      font-size: $font-size-large;
      flex: 1 1 auto;
      @media (min-width: 768px) {
        font-size: $font-size-large-fixed;
      }
      &__message {
        width: 100%;
      }
      & textarea {
        width: 100%;
        height: 90px;
        padding: 5px 10px;
        word-wrap: break-word;
        font-size: $font-size-medium;
        @media (min-width: 480px) {
          height: 145px;
        }
        @media (min-width: 768px) {
          height: 235px;
          font-size: $font-size-medium-fixed;
        }
      }
    }

    &__footer {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      height: 10%;
      & svg {
        cursor: pointer;
        width: 80%;
        @media (min-width: 768px) {
          width: 90%;
        }
      }
      & * {
        display: flex;
        align-items: flex-start;
        gap: 1%;
        @media (min-width: 768px) {
          gap: 2%;
        }
      }
      &__like {
        width: 15%;
        &--isLike {
          & svg {
            fill: $colour-primary;
            stroke: $colour-tertiary;
            stroke-width: 7;
          }
          & svg:hover {
            stroke: $colour-primary;
            stroke-width: 10;
          }
        }
        &--unLike {
          & svg {
            fill: none;
            stroke: $colour-tertiary;
            stroke-width: 7;
          }
          & svg:hover {
            stroke: $colour-primary;
            stroke-width: 10;
          }
        }
      }
      &__commentBtn {
        width: 15%;
        & svg {
          fill: $colour-tertiary;
          stroke: $colour-tertiary;
          stroke-width: 7;
        }
        & svg:hover {
          fill: $colour-primary;
          stroke: $colour-primary;
          stroke-width: 3;
        }
      }
      &__date {
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        font-size: $font-size-xsmall;
        @media (min-width: 768px) {
          font-size: $font-size-xsmall-fixed;
        }
      }
      &__modify {
        justify-content: center;
        width: 20%;
        gap: 20%;
        & svg {
          fill: $colour-tertiary;
        }
        & svg:hover {
          fill: $colour-primary;
        }
        &__confirmBox {
          @include confirmBox;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &__error {
        position: absolute;
        bottom: -75px;
        width: 100%;
        color: $colour-primary;
        text-align: center;
        font-size: $font-size-large;
        @media (min-width: 768px) {
          font-size: $font-size-large-fixed;
        }
      }
      &__createPostBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-bottom: 5px;
        & button {
          width: 25%;
          max-width: 150px;
          display: flex;
          justify-content: center;
          padding: 0 5%;
        }
        & svg {
          width: 60%;
        }
        & #sendSvg {
          width: 80%;
          stroke: black;
          stroke-width: 10;
        }
        & #cancelSvg:hover {
          fill: rgba($colour-primary, 0.8);
          scale: 1.2;
        }
        & #sendSvg:hover {
          fill: rgba(green, 0.8);
          stroke: rgba(green, 0.8);
          scale: 1.2;
        }
      }
    }
    &__comment {
      display: flex;
      flex-direction: column;
      width: 100%;

      background-image: url('../../../public/images/old-postcard-800x533.jpg');
      background-size: auto;
      & svg {
        cursor: pointer;
      }
      & textarea {
        width: 100%;
        padding: 2px 10px;
      }
      &__new {
        border: 2px dotted $colour-tertiary;
        margin: 5px;
        &:hover {
          border: 2px dotted $colour-primary;
        }
        &__commenter {
          display: flex;
          align-items: center;
          position: relative;
          &__picture {
            height: 25px;
            aspect-ratio: 1/1.47;
            rotate: -2deg;
            @media (min-width: 768px) {
              height: 30px;
            }
            & > * {
              position: absolute;
              top: 100%;
              left: 10%;
              transform: translate(-50%, -50%);
            }
            // ratio 42% / 50%
            &__image {
              height: 135%;
              aspect-ratio: 1/1.5;
              object-fit: cover;
              z-index: 6;
            }
            &__border {
              height: 150%;
              z-index: 5;
            }
          }
          &__name {
            padding-left: 10px;
            font-size: $font-size-small;
            @media (min-width: 768px) {
              font-size: $font-size-small-fixed;
            }
          }
        }

        &__form {
          position: relative;
          display: flex;
          justify-content: space-around;
          margin: 5px;
          &__textField {
            width: 90%;
            padding: 0 25px 0 15px;
            @media (min-width: 768px) {
              padding: 0 0 0 20px;
            }
          }
          &__btn {
            width: 7%;
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            & svg {
              fill: $colour-tertiary;
              scale: 0.9;
            }
            &__cancel {
              scale: 0.8;
              & svg:hover {
                fill: $cancel-color;
                stroke: $cancel-color;
                stroke-width: 3;
              }
            }
            &__send {
              scale: 1.2;
              & svg:hover {
                fill: $confirm-color;
                stroke: $confirm-color;
                stroke-width: 3;
              }
            }
          }
        }
      }

      &__content {
        margin: 5px 0;
        border: 2px dotted $colour-tertiary;
        background-color: rgba($colour-secondary, 0.5);
        &__commenter {
          display: flex;
          align-items: center;
          position: relative;
          height: 100%;
          &__picture {
            height: 25px;
            aspect-ratio: 1/1.47;
            rotate: -2deg;
            @media (min-width: 768px) {
              height: 30px;
            }
            & > * {
              position: absolute;
              top: 100%;
              left: 30%;
              transform: translate(-50%, -50%);
            }
            // ratio 42% / 50%
            &__image {
              height: 126%;
              aspect-ratio: 1/1.47;
              object-fit: cover;
              z-index: 6;
            }
            &__border {
              height: 150%;
              z-index: 5;
            }
          }
          &__name {
            padding-left: 10px;
            font-size: $font-size-small;
            @media (min-width: 768px) {
              font-size: $font-size-small-fixed;
            }
          }
        }
        &__text {
          padding: 5px 5px 5px 30px;
          font-size: $font-size-medium;
          @media (min-width: 768px) {
            font-size: $font-size-medium-fixed;
          }
        }
        &__modify {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 5;
          display: none;
          justify-content: space-between;
          width: 50px;
          scale: 0.8;
          & svg {
            fill: $colour-tertiary;
            stroke: $colour-tertiary;
          }
          & svg:hover {
            fill: $colour-primary;
            stroke: $colour-primary;
          }
          &:hover {
            display: flex;
            & ~ .postCard__front__comment__content {
              border: 2px dotted $colour-primary;
            }
          }
          &__confirmBox {
            @include confirmBox;
          }
        }
        &:hover {
          border: 2px dotted $colour-primary;
          & + .postCard__front__comment__content__modify {
            display: flex;
          }
        }
        &__form {
          position: relative;
          display: flex;
          margin: 5px;
          &__textField {
            width: 90%;
          }
          &__btn {
            width: 10%;
            display: flex;
            justify-content: space-around;
            & svg {
              fill: $colour-tertiary;
            }
            & svg:hover {
              fill: $colour-primary;
              stroke: $colour-primary;
              stroke-width: 3;
            }
            &__cancel {
              scale: 0.7;
            }
          }
        }
      }
    }
  }
}

.singleComment {
  position: relative;
  // animation: open 0.2s ease-out forwards;
}

// @keyframes open {
//   from {
//     transform: rotateX(90deg);
//   }
//   to {
//     transform: rotateX(0deg);
//   }
// }

// @keyframes rotate {
//   from {
//     transform: rotateY(0deg) rotateX(0deg) translateX(0px) rotate(0deg) scale(1);
//   }
//   to {
//     transform: rotateY(360deg) rotateX(180deg) translateX(-50px) rotate(-20deg)
//       scale(0.2);
//   }
// }

// @keyframes turnCard {
//   from {
//     transform: rotateY(0deg);
//   }
//   to {
//     transform: rotateY(180deg);
//   }
// }

// .turnCard {
//   animation: turnCard 0.3s ease-in-out forwards;
// }
