@import './variables';
@import './mixins';

.bold {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: 0;
}

.isLoading {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  width: 50px;
  height: 50px;
  border: 5px solid rgba($colour-secondary, 0.25);
  border-radius: 50%;
  border-top-color: $colour-primary;
  animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg) rotateX(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  to {
    transform: rotateY(360deg) rotateX(180deg) translateX(-50px) rotate(-20deg)
      scale(0.2);
  }
}

@keyframes turnCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.turnCard {
  animation: turnCard 0.3s ease-in-out forwards;
}

.postCard,
.postForm {
  list-style: none;
  & svg {
    width: 20px;
    height: 20px;
  }
  &__front {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 800px;
    font-family: 'Dancing Script', cursive;
    background-image: url('../../../public/images/old-postcard-800x533.jpg');
    background-size: auto;
    margin: 25px 0;
    padding: 4%;
    width: 90vw;
    aspect-ratio: 1.5 / 1;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    & > form {
      position: absolute;
      top: -25px;
      left: 0;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30%;
      position: relative;
      &__postImage {
        position: relative;
        width: 35%;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 0px 0px 30px -10px;
        }
      }
      &__fileChoice {
        position: absolute;
        top: 65%;
        left: 15%;
        & label {
          background-color: $colour-secondary;
          box-shadow: 3px 3px 3px;
          padding: 5px 10px;
        }
        & input {
          visibility: hidden;
        }
      }
      &__data {
        position: relative;
        width: 40%;
        &__stamp {
          @media (max-width: 768px) {
            scale: 0.8;
            top: -20%;
            right: -55%;
          }
          @media (max-width: 600px) {
            scale: 0.6;
            top: -30%;
            right: -40%;
          }
          @media (max-width: 480px) {
            scale: 0.5;
            top: -60%;
            right: -25%;
          }
          @media (max-width: 400px) {
            scale: 0.4;
            top: -80%;
            right: 0;
          }
          position: relative;
          width: 260px;
          height: 140px;
          right: -70%;
          z-index: 2;
          & * {
            position: absolute;
          }
          & svg {
            left: 0%;
            width: 100%;
            height: 100%;
            & .stampedSvg__waves {
              fill: rgba($colour-primary, 0.4);
              stroke: rgba($colour-primary, 0.7);
              stroke-width: 1;
            }

            & .stampedSvg__circle {
              fill: rgba($colour-primary, 0.2);
              stroke: rgba($colour-primary, 0.5);
              stroke-width: 3;
            }
          }
          &__date {
            top: 42%;
            left: 12%;
            font-weight: bold;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
              sans-serif;
            color: rgba($colour-primary, 0.5);
            rotate: (-20deg);
          }
        }
      }
      &__user {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        width: 25%;
        position: relative;
        &__name {
          font-size: 1em;
        }
        &__picture {
          width: 100%;
          position: relative;
          top: 35%;
          right: -20%;
          rotate: 3deg;
          & > * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          // ratio 42% / 50%
          &__image {
            width: 37.8%;
            aspect-ratio: 1/1.47;
            object-fit: cover;
            z-index: 1;
          }
          &__border {
            width: 45%;
            z-index: 2;
          }
        }
      }
    }
    &__content {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 50%;
      padding: 10px 0;
      font-size: calc(16px + 0.5vw);
      flex: 1 1 auto;
      &__message {
        width: 100%;
      }
      & textarea {
        width: 100%;
        height: 150px;
        padding: 5px 10px;
        word-wrap: break-word;
      }
    }

    &__footer {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      height: 10%;
      & svg {
        cursor: pointer;
      }
      &__modify {
        display: flex;
        justify-content: space-around;
        width: 75px;
        & svg {
          fill: $colour-tertiary;
        }
        & svg:hover {
          fill: $colour-primary;
        }
        &__confirmBox {
          @include confirmBox;
        }
      }
      &__like {
        display: flex;
        justify-content: space-around;
        width: 50px;
        &--isLike {
          & svg {
            fill: $colour-primary;
            stroke: $colour-tertiary;
            stroke-width: 7;
          }
          & svg:hover {
            stroke: $colour-primary;
            stroke-width: 10;
          }
        }
        &--unLike {
          & svg {
            fill: none;
            stroke: $colour-tertiary;
            stroke-width: 7;
          }
          & svg:hover {
            stroke: $colour-primary;
            stroke-width: 10;
          }
        }
      }
      &__commentBtn {
        display: flex;
        justify-content: space-around;
        width: 50px;
        & svg {
          fill: $colour-tertiary;
          stroke: $colour-tertiary;
          stroke-width: 7;
        }
        & svg:hover {
          fill: $colour-primary;
          stroke: $colour-primary;
          stroke-width: 3;
        }
      }
      &__error {
        position: absolute;
        bottom: -75px;
        width: 100%;
        color: $colour-primary;
        text-align: center;
        font-size: 1.5em;
      }
      &__createPostBtn {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        & button {
          padding: 0 5%;
        }
        & svg {
          width: 40px;
          height: 100%;
        }
        & #sendSvg {
          width: 50px;
          stroke: black;
          stroke-width: 10;
        }
        & #cancelSvg:hover {
          fill: rgba($colour-primary, 0.8);
          scale: 1.2;
        }
        & #sendSvg:hover {
          fill: rgba(green, 0.8);
          stroke: rgba(green, 0.8);
          scale: 1.2;
        }
      }
    }
    &__comment {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 750px;
      background-image: url('../../../public/images/old-postcard-800x533.jpg');
      background-size: auto;
      & svg {
        cursor: pointer;
      }
      & textarea {
        width: 100%;
        padding: 2px 10px;
      }
      &__new {
        border: 2px dotted $colour-tertiary;
        margin: 5px;
        &:hover {
          border: 2px dotted $colour-primary;
        }
        &__commenter {
          display: flex;
          align-items: center;
          position: relative;
          &__picture {
            height: 30px;
            aspect-ratio: 1/1.47;
            rotate: -2deg;
            & > * {
              position: absolute;
              top: 80%;
              left: 0;
              transform: translate(-50%, -50%);
            }
            // ratio 42% / 50%
            &__image {
              height: 126%;
              aspect-ratio: 1/1.47;
              object-fit: cover;
              z-index: 6;
            }
            &__border {
              height: 150%;
              z-index: 5;
            }
          }
          &__name {
            padding-left: 10px;
          }
        }

        &__form {
          position: relative;
          display: flex;
          margin: 5px;
          &__textField {
            width: 90%;
            padding: 0 10px 0 20px;
          }
          &__btn {
            width: 10%;
            display: flex;
            justify-content: space-around;
            & svg {
              fill: $colour-tertiary;
              margin-right: 5px;
            }
            // & svg:hover {
            //   fill: $colour-primary;
            //   stroke: $colour-primary;
            //   stroke-width: 3;
            // }
            &__cancel {
              scale: 0.8;
              & svg:hover {
                fill: $cancel-color;
                stroke: $cancel-color;
                stroke-width: 3;
              }
            }
            &__send {
              scale: 1.2;
              & svg:hover {
                fill: $confirm-color;
                stroke: $confirm-color;
                stroke-width: 3;
              }
            }
          }
        }
      }

      &__content {
        margin: 5px;
        border: 2px dotted $colour-tertiary;
        background-color: rgba($colour-secondary, 0.5);

        &__commenter {
          display: flex;
          align-items: center;
          position: relative;
          height: 100%;
          &__picture {
            height: 30px;
            aspect-ratio: 1/1.47;
            rotate: -2deg;
            & > * {
              position: absolute;
              top: 80%;
              left: 0;
              transform: translate(-50%, -50%);
            }
            // ratio 42% / 50%
            &__image {
              height: 126%;
              aspect-ratio: 1/1.47;
              object-fit: cover;
              z-index: 6;
            }
            &__border {
              height: 150%;
              z-index: 5;
            }
          }
          &__name {
            padding-left: 10px;
          }
        }
        &__text {
          padding: 5px 5px 5px 30px;
          font-size: calc(16px + 0.5vw);
        }
        &__modify {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 5;
          display: none;
          justify-content: space-between;
          width: 50px;
          scale: 0.8;
          & svg {
            fill: $colour-tertiary;
            stroke: $colour-tertiary;
          }
          & svg:hover {
            fill: $colour-primary;
            stroke: $colour-primary;
          }
          &:hover {
            display: flex;
            & ~ .postCard__front__comment__content {
              border: 2px dotted $colour-primary;
            }
          }
          &__confirmBox {
            @include confirmBox;
          }
        }
        &:hover {
          border: 2px dotted $colour-primary;
          & + .postCard__front__comment__content__modify {
            display: flex;
          }
        }
        &__form {
          position: relative;
          display: flex;
          margin: 5px;
          &__textField {
            width: 90%;
          }
          &__btn {
            width: 10%;
            display: flex;
            justify-content: space-around;
            & svg {
              fill: $colour-tertiary;
            }
            & svg:hover {
              fill: $colour-primary;
              stroke: $colour-primary;
              stroke-width: 3;
            }
            &__cancel {
              scale: 0.7;
            }
          }
        }
      }
    }
  }
}

.singleComment {
  position: relative;
}
